@import url('http://fonts.cdnfonts.com/css/wild-africa');

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: rgb(41, 20, 10);
	color: white;
}

@media (max-width: 600px) {
	a {
		font-size: 0.9rem;
	}

	p {
		font-size: 0.9rem;
	}

	h2 {
		font-size: 2rem;
	}
}
